body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.game {
  background-image: url(images/roman__1_.png);
  background-size: cover;
  font-family: monospace;
  padding: 1rem;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 10px;
  overflow: hidden;
  width: 1600px;
}

.grid-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.question {
  width: 250px;
  height: 80px;
  padding: 10px;
  font-size: 24px;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  color: #39361C;
  border: none;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #888888;
}
.ClickedButton{
  width: 250px;
  height: 80px;
  padding: 10px;
  font-size: 24px;
  background-image: linear-gradient(to top, #FF0844 0%, #FFB199 100%);
  color: #39361C;
  border: none;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;

}


.game-info-container{
  text-align: center;
}

.landing-button-container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title-flex,
.about-text,
.header-rules,
.title-rules,
.button-container,
.written-rules,
.answer-container,
.point {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.written-rules,
.game-info-para {
  font-size: 24px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  list-style-type: none;
}

.home,
.home-button {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.Game-title {
  font-family: "Kanit", sans-serif;
}

.Rules,
.game-info-title {
  font-family: "Libre Baskerville", serif;
  font-size: 32px;
}

.rules,
.game-info-para {
  font-family: "Kanit", sans-serif;
  background: rgba(255,255,255, 0.5);
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
  list-style-type: none;
  box-shadow: 3px 3px 3px #969595;
}

.Start-game-btn,
.ansbutton {
  width: 200px;
  height: 100px;
  padding: 10px;
  font-size: 24px;
  border: 2px solid #C4AC88;
  border-radius: 5px;
  background-image:linear-gradient(to top, #e6b980 0%, #eacda3 100%);;
  color: #000000bb;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;
  outline: none;
  box-shadow: 3px 3px 3px #969595;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: none;
  max-height: 100vh;
  max-width: 80vw;
  width: 100%;
}

.popup .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.question-container ul li {
  list-style-type: none;
}

.answer{
 white-space: nowrap;
 justify-content: space-between;
 display:inline-block;
 position:relative;
 max-width: 980px;
 margin-right: 10px;
 
}

.img-container{
  max-width: 300px; 
  max-height: 200px;
}

@media screen and (max-width:1640px){
  .answer{
    white-space: wrap;
    justify-content: space-between;
    display:inline-block;
    position:relative;
    max-width: 980px;
    margin-right: 10px;
}
}