body {
  background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.game {
  background-image: url(images/roman__1_.png);
  background-size: cover;
  font-family: monospace;
  padding: 1rem;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 1000px;
}

.grid-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.question {
  width: 150px;
  height: 80px;
  padding: 10px;
  font-size: 16px;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  color: #e71531bb;
  border: none;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;
}

.title-flex,
.header-rules,
.title-rules,
.button-container,
.written-rules {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.written-rules {
  font-size: 18px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  list-style-type: none; 
}

.home,
.home-button {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.Game-title {
  font-family: "Kanit", sans-serif;
}

.Rules {
  font-family: "Libre Baskerville", serif;
}

ul {
  font-family: "Kanit", sans-serif;
}

.Start-game-btn {
  width: 250px;
  height: 60px;
  padding: 10px;
  font-size: 16px;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
  color: #000000bb;
  border: none;
  cursor: pointer;
  font-family: "Libre Baskerville", serif;
  outline: none;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
}

.popup-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup {
  background-color: #fff;
  border-radius: 5px;
  padding: 0 2rem;
  position: relative;
  overflow: none;
  max-height: 100vh;
  max-width: 80vw;
  width: 100%;
}

.popup .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.question-container ul li {
  list-style-type: none;
}

.ansbutton {
  border: 1px solid black;
  color: white;
  color: black;
  margin-left: 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#quizQuestion {
  margin-left: 150px;
}

#points {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}